{% render 'partials/head.liquid' %}

<section class="profile-card">
  <img class="profile-picture" src="Squad1H-Rick-modified.png">
  <h1>{{ person.name }}</h1>
  <p>Frontend Design & Development</p>

  <div class="contact">
    <img src="telefoonlogo.jpg"><p>+31 614772210</p>
    <img src="emaillogo.jpg"><p>rick.pijnacker@hva.nl</p>
    <img src="website-logo.jpg"><a href="{{ person.website }}">https://rickfdnd.github.io/i-love-web/</a>
    <img src="locatie-logo.jpg"><p>Anna Paulowna</p>
  </div>

  <div class=socials>
    <a href="https://github.com/RickFDND"><img src="github-logo.png"></a>
  </div>
</section>

{% render 'partials/foot.liquid' %}
