{% render 'partials/head.liquid' %}

<section class="profile-card">
  <img src="Squad1H-Rick-modified.png">
  <h1>{{person.name}}</h1>
  <p>Frontend Design & Development</p>

  <div class="contact">
    <svg></svg><p>+31 614772210</p>
    <svg></svg><p>rick.pijnacker@hva.nl</p>
    <svg></svg><a href="https://rickfdnd.github.io/i-love-web/"></a>
    <svg></svg><p>Anna Paulowna</p>
  </div>

  <div class=socials>
    <a href="https://www.snapchat.com/?original_referrer=www.bing.com"></a>
    <a href="https://www.instagram.com/"></a>
    <a href="https://github.com/RickFDND"></a>
  </div>
</section>

{% render 'partials/foot.liquid' %}
