<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>
<p>Het is vandaag {{ "now" | date: "%A, %-d %B %Y" }}</p>
<p>{{ person.birthdate }}</p>

<details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>