body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: repeating-radial-gradient(blue,magenta);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    height: 40em;
    max-width: 400px;
    min-width: 350px;
    border-radius: 3em;

    img{
       max-width: 100px;
       height: auto;
    }

    svg{
        max-width: 2.5em;
        height: 2.5em;
    }

}